<div class="center hero-unit">
	<h1>Welcome to Teyuna</h1>
	
	<h2>
		This is the home page for Teyuna.
	</h2>

	<%= link_to "Set up a trip!", '/static_pages/trip', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("plane.png", alt: "Plane"), 'http://www.google.com/' %>